<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Listner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Weather <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="maps">Google maps</a>
      <a class="nav-item nav-link" href="createcitizen">Create Citizen</a>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

